# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "66866aa94e14670889abc6fe392708e3"
name = "outblog"
application_url = "https://shopify-plugin-liard.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_content,write_content"

[auth]
redirect_urls = [ "https://shopify-plugin-liard.vercel.app/api/auth" ]
